* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  
}
.section {
 
  justify-content: center;
  margin: auto;
  width: fit-content;
  padding: 10px;
  min-height: 250px;
  height: fit-content;
  margin-top: 5%;
  border-radius: 30px;
  box-shadow: 0 0 5px #000;
  border: 1px solid #000;
}
::placeholder {
  color: #463c3c;
}
.masterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainInp {
  margin-top: 10px;
  padding-left: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}
.mainBtn {
  margin-top: 10px;
  padding: 5px;
  margin-left: 10px;
}
.list {
  margin-top: 10px;
  padding-left: 20px;
  /* list-style: none;   */
  /* width: 450px; */
}
.liBtn {
  margin-left: 5px;
  padding: 2px;
}

.listContent {

  padding: 2px;
  padding-right: 5px;
  text-align: end;
  /* width: 250px; */
}
.display{
 color: #463c3c;

}
